<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.Mapper.ReservationMapper">

    <insert id="insertReservation">
        INSERT INTO reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reservationNo != null">reservation_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="roomId != null">room_id,</if>
            <if test="adminId != null">admin_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="meetingTopic != null">meeting_topic,</if>
            <if test="participantNum != null">participant_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="reservationNo != null">#{reservationNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="adminId != null">#{adminId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="meetingTopic != null">#{meetingTopic},</if>
            <if test="participantNum != null">#{participantNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="update">
        update reservation
        <set>
            <if test="reservationNo != null">
                reservation_no = #{reservationNo},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="meetingTopic != null">
                meeting_topic = #{meetingTopic},
            </if>
            <if test="participantNum != null">
                participant_num = #{participantNum},
            </if>

        </set>
        where id = #{id}
    </update>
    <select id="pageSelect" resultType="com.sky.vo.ReservationVo">
        SELECT * FROM reservation
        <where>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>

        <if test="status != null">
            AND status = #{status}
        </if>
        </where>
    </select>


</mapper>